# Python
esg_extractor/__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data files (optional)
esg_extractor/data


# Logs and temporary files
*.log


esg_extractor/services/__pycache__
esg_extractor/tests/__pycache__
C:\ELM's Challenge\venv
C:\ELM's Challenge\esg_extractor\app\__init__.py
esg_extractor/services/__init__.py
C:\ELM's Challenge\esg_extractor\tests\__init__.py
C:\ELM's Challenge\esg_extractor\__init__.py

